<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github-production-release-asset-2e65be.s3.amazonaws.com/138840169/a0777e80-ae3b-11e9-853d-f7e66c82b2d8?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20190724%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20190724T095153Z&amp;X-Amz-Expires=300&amp;X-Amz-Signature=344871c90761478f505f0356008a6ae882e45deb64ba1fbafc8d5eae93c03710&amp;X-Amz-SignedHeaders=host&amp;actor_id=3191162&amp;response-content-disposition=attachment%3B%20filename%3DNiusales.ipa&amp;response-content-type=application%2Foctet-stream</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://moyeo.github.io/niusales/icon_57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://moyeo.github.io/niusales/icon_512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.cloudinforce.niusales</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>商脉圈</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
